<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            background-color: #24325e
        }

        tr{
            background-color: #672c2c;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table align="center" th:border="1">
        <tr>
            <td>
                <p><a><h2>Registration not support yet</h2><img width="250" height="250"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/New_user_icon-01.svg/1200px-New_user_icon-01.svg.png">
                </a> </p>
            </td>
            <td>
                <h2 th:align="center">Users</h2>
                <p><a th:align="center" href="/admin/users">
                    <img width="300" height="350" src="https://cdn-icons-png.flaticon.com/512/33/33308.png">
                </a> </p>
            </td>
        </tr>
        <tr>
            <td><img width="500" height="470"
                     src="https://c.tenor.com/LKjrdwoRANgAAAAd/%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D1%87%D0%B0%D1%87%D0%B0.gif"></td>
            <td>
                <h2 th:align="center">Leave</h2>
                <p><a th:align="center" href="/logout">
                    <img width="300" height="350" src="https://c.tenor.com/8FKTJDMvH2IAAAAC/homer-simpsons.gif"></a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>