<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<div>
    <table th:border="1" th:align="center">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>User's role</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:align="center" th:text="${user.getId()}">ID</td>
            <td th:align="center" th:text="${user.getUsername()}">Username</td>
            <td th:align="center" th:text="${user.getRoles()}">Role</td>
            <td>
                <form th:align="center" th:action="@{/admin/user/{id}/(id=${user.getId()})}">
                    <button type="submit">update</button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:align="center" th:action="@{/admin/delete/{id}/(id=${user.getId()})}">
                    <button th:type="submit">Delete</button>
                </form>
            </td>
        </tr>

    </table>
</div>
</body>
</html>