<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
<title>Log in page</title>
</head>
<body>
<form name="f" method="post" action="/login">
    <table th:border="1">
        <tr>
            <th>
                <label for="username">Enter username</label>
                <input type="text" name="username" id="username">
            </th>
        <tr>
            <th>
                <label for="password">Enter password</label>
                <input type="password" name="password" id="password">
            </th>
        </tr>
        </tr>
        <tr>
            <th>
                <input type="submit" value="Log in">
            </th>
        </tr>
        <div th:if="${param.error}" style="color: #ff0000">
            Incorrect password or login
        </div>
    </table>
    <h3><a href="/auth/registration">Join our team</a></h3>
</form>
</body>
</html>